body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    /* top: 0; */
    left: 0;
    background-color: #f7f7f7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.open-sidenav {
    height: 100%;
    width: 20px;
    position: fixed;
    z-index: 1;
    background-color: #f7f7f7;
    overflow-x: hidden;
    transition: 0.5s;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    /* padding: 0; */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.faCenter {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 50%;
    overflow-x: hidden;
    transition: 0.5s;
}

.bgCanvas {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
    background-color: #b1b1b1;
    /* overflow-x: hidden; */
    transition: 0.5s;
    /* padding-right: 100%; */
}

canvas {
    background-color: #fff; /* Added to show the actual size */
}

  
  .jumbotron {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 1px dashed deeppink;
  }

  #canvasContainer{
    height: 100%;
    width: 100%;
    left: 20px;
    right: 1%;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
  }